body {
  font-family: "Rokkitt", serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto;
}

.header-logo {
  font-size: 36px;
  display: flex;
  align-self: center;
  font-family: "Quando", serif;
}

.header-links {
  width: 50%;
  font-size: 18px;
  display: flex;
  align-self: flex-end;
}

.header-links ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-links ul li {
  align-self: flex-end;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.button,
.button-outline {
  width: 96px;
  text-align: center;
  padding: 7px 0;
  border-radius: 5%;
  border: 1px solid #eb2121;
}

.button-outline {
  color: #eb2121;
}

.button {
  color: white;
  background-color: #eb2121;
}
