body {
  font-family: "Rokkitt", serif;
}

header {
}

.header-logo {
}

.header-links {
}

.header-links ul {
}

.header-links ul li {
}

.header-buttons {
}

.button,
.button-outline {
  width: 96px;
  text-align: center;
  padding: 7px 0;
  border-radius: 5%;
  border: 1px solid #eb2121;
}

.button-outline {
  color: #eb2121;
}

.button {
  color: white;
  background-color: #eb2121;
}
