// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  padding: 2rem 1rem 3rem;
  h1 {
    font-family: "Quando", serif;
    font-size: 24px;
    margin-bottom: 1rem;
  }
  a {
    font-family: "Rokkitt", serif;
    font-size: 24px;
    font-weight: 300;
    color: $black;
    margin-bottom: 1rem;
  }

  .footer-links {
    div {
      display: flex;
      flex-direction: column;
    }
    margin-bottom: 1.6rem;
  }

  .footer-main {
    margin-top: 3.4rem;

    h1 {
      margin-bottom: 2.4rem;
    }

    .footer-icons {
      margin-bottom: 2rem;
      img {
        margin-right: 2.4rem;
      }
    }

    p {
      font-family: "Rokkitt", serif;
      font-size: 18px;
      font-weight: 300;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 4rem 48px 3rem;

    h1 {
      font-family: "Quando", serif;
      font-size: 12px;
      margin-bottom: 0.4rem;
    }
    a {
      font-family: "Rokkitt", serif;
      font-size: 12px;
      font-weight: 300;
      color: $black;
      margin-bottom: 0.4rem;
    }
    .footer-main {
      margin-top: 0;
      align-self: flex-end;
      h1 {
        margin-bottom: 1.4rem;
      }
      .footer-icons {
        margin-bottom: 1rem;
        img {
          width: 16px;
          margin-right: 0.4rem;
        }
      }

      p {
        font-size: 12px;
        margin-bottom: 0.4rem;
      }
    }

    .footer-links-wrapper {
      width: 66.66%;
      align-items: flex-end;
      .footer-links {
        margin-bottom: 0;
      }
    }
  }
}
