// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button,
.button-outline {
  width: 86px;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 12px;
  padding: 5px 0;
  border-radius: 5%;
  border: 1px solid #eb2121;
}

.button-outline {
  color: #eb2121 !important;
}

.button {
  color: white !important;
  background-color: #eb2121;
}

@include media-breakpoint-up(md) {
  .button,
  .button-outline {
    font-size: 18px;
    padding: 4px 0;
    width: 96px;
  }
}
