body {
  font-family: "Rokkitt", serif;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: $black;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.navbar-toggler .top-bar {
  transform: translate(3px) rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: translate(3px) rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.header-logo {
  font-size: 24px;
  font-family: "Quando", serif;
  padding: 8px;
  padding-left: 0;
}

.header-links {
  a {
    font-size: 18px;
  }

  .button,
  .button-outline {
    margin-top: 0.6rem;
  }
}

@include media-breakpoint-up(md) {
  .my-navbar {
    padding: 1.6rem 3rem 0;
  }

  .header-links {
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: flex-end;
      margin-right: 1.4rem;
      a {
        margin-right: 1.4rem;
      }
    }

    .button,
    .button-outline {
      margin-top: 0;
    }

    .button {
      margin-right: 1rem;
    }
  }
}
